/*
.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*/
:root {
	--blue: #367db5;
	--dk-blue: #23669b;
	--yellow: #f2c744;
	--green: #6a7765;
	--lt-gray: #f2f2f2;
	--med-gray: #eaeaea;
	--dk-gray: #667;
	--black: #222;
	--white: #fff;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
	font-size: 100%;
	line-height: 1.65;
	color: var(--black);
	background-color: var(--white);
}

figure {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

button {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
	border-radius: 5px;
}

svg {
	display: block;
	width: 3rem;
	height: 3rem;
	fill: red;
	stroke: blue;
}

a {
	cursor: pointer;
	color: var(--green);
	font-size: clamp(1rem, 2vw, 1.25rem);
	text-decoration-color: var(--green);
	text-decoration-thickness: 2px;
	text-underline-offset: 5px;
	transition: text-decoration-color 300ms ease-in-out;
}

a:focus,
a:hover,
a:active {
	text-decoration-color: transparent;
}

h1,
h2,
h3 {
	line-height: 1.25;
	margin: 0 0 1rem;
}

p {
	font-size: clamp(1rem, 2vw, 1.25rem);
}

.primary_heading {
	display: inline-block;
	margin-left: 50%;
	margin-bottom: 3rem;
	padding: 1rem 4rem;
	transform: translateX(-50%);
	font-size: clamp(2rem, 6vw, 5rem);
	font-weight: 300;
	color: var(--dk-gray);
	border-bottom: 1px solid var(--dk-gray);
}

.main {
	position: relative;
	z-index: 0;
}

.section {
	padding: 3rem 1rem;
}

.wrap {
	max-width: 75rem;
	margin: 0 auto;
}

.sr-only {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Header */
.header {
	padding: 1rem;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 80%);
	box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 10%);
	z-index: 1;
}

.header .wrap {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.primary_logo {
	margin: 0;
}

.primary_logo a {
	font-size: 2rem;
	font-weight: 600;
	color: var(--dk-blue);
	text-decoration-color: transparent;
}

.primary_logo a:focus,
.primary_logo a:hover,
.primary_logo a:active {
	text-decoration-color: var(--dk-blue);
}

@media (max-width: 960px) {
	.header {
		position: sticky;
	}
}

/* Navigation */
.menu_button {
	display: none;
	background-color: transparent;
	transition: background-color 300ms ease-in-out;
}

.menu_button svg {
	stroke: var(--dk-blue);
	transition: stroke 300ms ease-in-out;
}

.menu_button:focus,
.menu_button:hover,
.menu_button:active {
	background-color: var(--dk-blue);
}

.menu_button:focus svg,
.menu_button:hover svg,
.menu_button:active svg {
	stroke: var(--white);
}

.main_nav {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
	gap: 2rem;
}

.navigation a {
	color: var(--dk-blue);
	text-decoration-color: transparent;
}

.navigation a.active,
.navigation a:focus,
.navigation a:hover,
.navigation a:active {
	text-decoration-color: var(--dk-blue);
}

@media (max-width: 960px) {
	.menu_button {
		display: block;
	}

	.navigation {
		visibility: hidden;
		position: fixed;
		bottom: 100%;
		left: 0;
		padding: 1rem;
		width: 100%;
		height: auto;
		transform: translateY(0);
		background-color: var(--white);
		box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 10%);
		transition:
			transform 300ms ease-in-out,
			visibility 300ms ease-in-out;
	}

	.main_nav {
		flex-direction: column;
		gap: 0;
	}

	.main_nav li {
		width: 100%;
		padding: 0 0 0.25rem;
		margin: 0 0 0.25rem;
		border-bottom: 3px dotted var(--med-gray);
	}

	.main_nav li:last-of-type {
		border-bottom: none;
		padding: 0;
		margin: 0;
	}

	.main_nav a {
		display: block;
		padding: 0.75rem;
		text-align: center;
	}

	.menu_active .navigation {
		visibility: visible;
		transform: translateY(100%);
	}

	.menu_active .open_button {
		visibility: hidden;
	}
}

/* Hero */
.hero {
	position: relative;
	width: 100%;
	height: auto;
	aspect-ratio: 16 / 8;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}

.hero .figure {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hero_content {
	text-align: center;
	margin: 0 auto;
	padding: clamp(1rem, 4vw, 3rem);
	color: var(--white);
	background-color: rgba(35, 102, 155, 85%);
}

.hero .secondary_heading {
	font-size: clamp(2rem, 10vw, 8rem);
	font-weight: 300;
}

.phonic {
	font-size: clamp(1.5rem, 5vw, 4rem);
	font-weight: 300;
	line-height: 1;
}

.hero p {
	max-width: 40ch;
	margin: clamp(0.01rem, 2vw, 1rem) 0;
	font-size: clamp(1rem, 3vw, 2.5rem);
	font-weight: 300;
}

/* Inner Page Hero */
.inner_hero {
	position: absolute;
	inset: 0;
	padding: 0;
	width: 100%;
	height: 66vh;
	z-index: -1;
}

.inner_hero .figure {
	position: relative;
	width: 100%;
	height: 100%;
}

.inner_hero .figure::after {
	content: "";
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(3px);
}

.inner_hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Grid */
.grid .wrap {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.article {
	border-radius: 15px 15px 0 0;
	border: 1px solid var(--med-gray);
	overflow: hidden;
	background-color: var(--white);
}

.article .figure {
	width: 100%;
	height: auto;
	aspect-ratio: 16 / 9;
}

.article img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.article .tertiary_heading {
	margin: 0;
	padding: 2rem 1rem;
	text-align: center;
	font-size: clamp(1rem, 3vw, 2rem);
	font-weight: 300;
}

@media (max-width: 1024px) {
	.grid .wrap {
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}
}

@media (max-width: 600px) {
	.grid .wrap {
		grid-template-columns: 1fr;
	}
}

/* Forms */
textarea,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="search"],
button[type="submit"] {
	padding: clamp(0.5rem, 2vw, 1rem);
	background-color: var(--white);
	border: 1px solid var(--white);
	font-size: 1.5rem;
	font-weight: 300;
	line-height: normal;
	color: var(--white);
	transition:
		background-color 300ms ease-in-out,
		color 300ms ease-in-out;
}

button[type="submit"] {
	min-width: 220px;
	max-width: 100%;
	margin-left: 50%;
	transform: translateX(-50%);
	border: 2px solid var(--dk-blue);
	background-color: var(--dk-blue);
}

button[type="submit"]:focus,
button[type="submit"]:hover,
button[type="submit"]:active {
	background-color: transparent;
	color: var(--dk-blue);
}

textarea {
	width: 100%;
}

@media (max-width: 1024px) {
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="password"],
	input[type="search"],
	button[type="submit"] {
		display: block;
		width: 600px;
		max-width: 100%;
		margin: 0 0 0.5rem;
	}
}

/* Contact */
.contact {
	padding: 8rem 1rem;
}

.contact .wrap {
	padding: 3rem;
	background-color: rgba(255, 255, 255, 75%);
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 10%);
}

.contact .form {
	max-width: 50rem;
	margin: 0 auto;
}

.two_inputs {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
	margin: 0 0 2rem;
}

.contact textarea {
	margin: 0 0 2rem;
}

/* Subscribe */
.subscribe {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	padding: 2rem 1rem;
	width: 100%;
	height: auto;
	aspect-ratio: 4 / 1;
	background-color: var(--dk-blue);
	color: var(--white);
}

.subscribe .secondary_heading {
	width: 100%;
	margin: 0 0 2rem;
	text-align: center;
	font-size: clamp(1.5rem, 4vw, 3rem);
	font-weight: 300;
}

.subscribe input[type="text"],
.subscribe input[type="email"] {
	background-color: transparent;
}

.subscribe input[type="text"]::placeholder,
.subscribe input[type="email"]::placeholder {
	color: var(--lt-gray);
}

.subscribe button[type="submit"] {
	border-radius: 0;
	background-color: var(--white);
	color: var(--dk-blue);
}

.subscribe button[type="submit"]:focus,
.subscribe button[type="submit"]:hover,
.subscribe button[type="submit"]:active {
	background-color: var(--dk-blue);
	color: var(--white);
}

@media (max-width: 632px) {
	.subscribe {
		display: block;
	}
}

/* Social Icons */
.social_footer {
	padding: 5rem 1rem;
	text-align: center;
	color: var(--white);
	background-color: var(--blue);
}

.social_footer a {
	color: var(--white);
	text-decoration-color: var(--white);
}

.social_footer a:focus,
.social_footer a:hover,
.social_footer a:active {
	text-decoration-color: transparent;
}

.social_navigation {
	margin: 0 0 2rem;
}

.social_nav {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.social_nav a {
	display: block;
	padding: 1rem;
	background-color: transparent;
	border-radius: 5px;
	transition: background-color 300ms ease-in-out;
}

.social_nav a:focus,
.social_nav a:hover,
.social_nav a:active {
	background-color: var(--white);
}

.social_nav svg {
	width: 3rem;
	height: 3rem;
	fill: var(--white);
	transition: fill 300ms ease-in-out;
}

.social_nav a:focus svg,
.social_nav a:hover svg,
.social_nav a:active svg {
	fill: var(--dk-blue);
}

@media (max-width: 1024px) {
	.social_footer {
		padding: 1rem;
	}
}

@media (max-width: 500px) {
	.social_navigation {
		margin: 0 0 1rem;
	}

	.social_nav {
		gap: 0;
	}

	.social_nav svg {
		width: 2rem;
		height: 2rem;
	}
}
