/*
.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*/
:root {
	--blue: #367db5;
	--dk-blue: #23669b;
	--yellow: #f2c744;
	--green: #6a7765;
	--lt-gray: #f2f2f2;
	--med-gray: #eaeaea;
	--black: #222;
	--white: #fff;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
	font-size: 100%;
	line-height: 1.65;
	color: var(--black);
	background-color: var(--white);
}

figure {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

button {
	padding: 0;
	border: none;
	background-color: transparent;
}

svg {
	display: inline-block;
	width: 3rem;
	height: 3rem;
	fill: red;
	stroke: blue;
}

a {
	color: var(--green);
	font-size: clamp(1rem, 2vw, 1.25rem);
	text-decoration-color: var(--green);
	text-decoration-thickness: 2px;
	text-underline-offset: 5px;
	transition: text-decoration-color 300ms ease-in-out;
}

a:focus,
a:hover,
a:active {
	text-decoration-color: transparent;
}

h1,
h2,
h3 {
	line-height: 1.25;
	margin: 0 0 1rem;
}

p {
	font-size: clamp(1rem, 2vw, 1.25rem);
}

.section {
	padding: 3rem 1rem;
}

.wrap {
	max-width: 75rem;
	margin: 0 auto;
}

.sr-only {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Header */
.header {
	padding: 1rem;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 80%);
	box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 10%);
	z-index: 1;
}

.header .wrap {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.primary_logo {
	margin: 0;
}

.primary_logo a {
	font-size: 2rem;
	font-weight: 600;
	color: var(--dk-blue);
	text-decoration-color: transparent;
}

.primary_logo a:focus,
.primary_logo a:hover,
.primary_logo a:active {
	text-decoration-color: var(--dk-blue);
}

@media (max-width: 960px) {
	.header {
		position: sticky;
	}
}

/* Navigation */
.menu_button {
	display: none;
}

.main_nav {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
	gap: 2rem;
}

.navigation a {
	color: var(--dk-blue);
	text-decoration-color: transparent;
}

.navigation a:focus,
.navigation a:hover,
.navigation a:active {
	text-decoration-color: var(--dk-blue);
}

/* Hero */
.hero {
	position: relative;
	width: 100%;
	height: auto;
	aspect-ratio: 16 / 8;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}

.hero .figure {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hero_content {
	text-align: center;
	margin: 0 auto;
	padding: clamp(1rem, 4vw, 3rem);
	color: var(--white);
	background-color: rgba(35, 102, 155, 85%);
}

.hero .secondary_heading {
	font-size: clamp(2rem, 10vw, 8rem);
	font-weight: 300;
}

.phonic {
	font-size: clamp(1.5rem, 5vw, 4rem);
	font-weight: 300;
	line-height: 1;
}

.hero p {
	max-width: 40ch;
	margin: clamp(0.01rem, 2vw, 1rem) 0;
	font-size: clamp(1rem, 3vw, 2.5rem);
	font-weight: 300;
}

/* Grid */
.grid .wrap {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.article {
	border-radius: 15px 15px 0 0;
	border: 1px solid var(--med-gray);
	overflow: hidden;
	background-color: var(--white);
}

.article .figure {
	width: 100%;
	height: auto;
	aspect-ratio: 16 / 9;
}

.article img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.article .tertiary_heading {
	margin: 0;
	padding: 2rem 1rem;
	text-align: center;
	font-size: clamp(1rem, 3vw, 2rem);
	font-weight: 300;
}

@media (max-width: 1024px) {
	.grid .wrap {
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}
}

@media (max-width: 600px) {
	.grid .wrap {
		grid-template-columns: 1fr;
	}
}

/* Subscribe */
.subscribe {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	width: 100%;
	height: auto;
	aspect-ratio: 4 / 1;
	background-color: var(--dk-blue);
	color: var(--white);
}
